.social-links {
    list-style: none;
    padding: 0;

    display: flex;
    flex-direction: row;
    gap: 1em;
}

.social-links a {
    font-size: 1.5rem;
    color: #fff;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.social-links a:hover {
    opacity: 0.8;
}